$color1: #2C3333;
$color2: #2E4F4F;
$color3: #0E8388;
$color4: #cbe4de;

body {
    background-color: $color1;
    color: $color4;
    width: 80%;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: $color3;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: $color2;
    font-size: 1.5em;
    text-align: center;
}

p {
    color: $color4;
    font-size: 1em;
    text-align: center;
}

a {
    color: $color3;
    font-size: 1em;
    text-align: center;
}

div {
    color: $color4;
    font-size: 1em;
}

.profile {
    padding: 1rem;
    padding-top: 0.05rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

label {
    margin-left: 1rem;
}

input, select {
    width: 6rem;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid $color1;
    background-color: $color2;
    color: $color4;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


th {
    padding-top: 1rem;
}

#refining-table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

// rounded switch button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: $color4;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: $color3;
}

input:focus + .slider {
    box-shadow: 0 0 1px $color3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.profile-button {
    cursor: pointer;
    width: 60px;
    background-color: $color2;
    color: $color4;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1em;
}
  
.profile-button:hover {
    background-color: $color3;
}

.profile-button:active {
    background-color: $color2;
    color: $color4;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.profile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profile-settings {
    .switch, button {
        float: right;
    }
    #server-select {
        float: right;
        width: fit-content;
    }
}

.data-settings {
    width: 16%;
    margin-right: 0.5rem;
    margin-left: -5rem;
    .switch, button {
        float: right;
    }
}

.data-scrape {
    width: 16%;
    margin-left: -5rem;
    #refining-city, #server-select, button{
        width: fit-content;
        float: right;
    }
    .scrape-button {
        margin-bottom: 0.3rem;
    }
}


h1 {
    text-shadow: 0 0 10px rgba(44, 51, 51, 0.55);
}

#refining-station-return-rate {
    width: fit-content;
}
#refining-resource, #refining-station-return-rate {
    height: 1.75rem;
    text-align: left;
}

.focus-table {
    #focus-column {
        display: none;
    }
}

.detail-table {
    #detail-column {
        display: none;
    }
}

.hidden-row {
    display: none;
}

#refine-from-t2-dropdown{
    margin-left: 0.5rem;
    width: 4rem;
}

#refining-market-tax-percentage {
    width: fit-content;
    background-color: #2C3333;
    margin-left: 0.3rem;
    
    border-bottom: $color3 solid 0.8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.refining-mastery {
    input {
        width: 3rem;
    }
}

